{% extends "user/userbase.html" %}


{% block content %}
<div class="split-container">
    <div class="left-side"></div>
    <div class="right-side">
            
                <h1>Deepcrack_A_Deep_Learning_
                    Approach_for_Image-
                    Based_Crack_Prediction
                </h1>

                <p>—Cracks in infrastructure pose significant 
                    challenges to public safety and require timely detection for 
                    effective maintenance. This research study presents Deep 
                    Crack, a novel deep-learning approach for image-based 
                    crack prediction. Leveraging the power of Convolutional 
                    Neural Networks (CNNs), the Mobile Net architecture is 
                    employed as the backbone and implement transfer learning 
                    to enhance the model's ability to recognize cracks. The 
                    proposed methodology involves extensive data preprocessing, utilizing image augmentation techniques to 
                    address data scarcity. The model is trained and validated on 
                    a diverse dataset, demonstrating its effectiveness in 
                    distinguishing between images containing cracks and those 
                    without. The classifier is fine-tuned using a custom top layer, 
                    incorporating global average pooling and dense layers. This 
                    research work introduces a comprehensive evaluation 
                    framework, including confusion matrices and classification 
                    reports, to assess the model's performance. Deep Crack 
                    achieves remarkable accuracy, precision, and recall in 
                    predicting crack presence, demonstrating its capability for 
                    practical use in infrastructure maintenance and safety 
                    scenarios. This research contributes to the intersection of 
                    deep learning and image processing, offering an innovative 
                    solution for crack detection. The proposed methodology not 
                    only demonstrates the efficacy of Mobile Net and transfer 
                    learning but also provides insights into the broader 
                    applications of deep learning in civil engineering and 
                    infrastructure management.

                </p>           
            
    </div>
</div>


{% endblock %}